@charset "utr-8";
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
ul,
header,
footer,
section,
input,
button,
body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

s {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

.left {
    float: left
}

.right {
    float: right
}

.clear::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

body {
    font: 16px "微软雅黑";
}

em,
i,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
address,
samp {
    font-style: normal;
    font-weight: normal;
}